/* general */
.showcase-img {
    object-fit: cover;
    object-position: 50% 50%;
}

/* section */
.showcase {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 0 0 4em;
    padding: 2em 0 3em;
}

/* tablets and smaller screens */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .showcase {
        grid-template-columns: repeat(12, 1fr);
    }
    .showcase > :last-child {
        justify-self: center;
        grid-column: 4 / span 6;
    }
    .showcase-cards {
        grid-column: span 6;
    }
}

@media screen and (min-width: 1024px) {
    .showcase {
        grid-template-columns: repeat(3, 1fr);
    }
}

.showcase-link {
    color: #212529;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.showcase-link:hover {
    color: #212529;
}

.showcase-image {
    height: 100%;
}

.showcase-as-buton {
    border-radius: 0;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 0.4em 1.4em;
}

.showcase-as-buton:hover {
    transform: scale(1.02);
}

.showcase-text-container {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.showcase-text-container > h4 {
    height: 2.8em;
    line-height: 1.4;
}

.showcase-text-container > p {
    height: 4em;
}

/* page */
.showcase-page {
    padding: 3em 0 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.showcase-text-page {
    line-height: 1.6;
    font-size: 1.1rem;
}
