@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@100&family=Red+Hat+Mono:wght@300&display=swap');

.banner-text {
    width: 50%;
    margin: 6.5em 1.5em;
    float: right;
    display: flex;
    flex-direction: column;
}

.banner-text h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 1.4;
    color: white;
}


.banner-text h2, .banner-text img{
    margin-left: auto;

}

.banner-text img{
    padding: 0 4em;
}

.slider-text-box {
    text-decoration: none;
    width: 40%;
    min-height: 10em;
    padding: 0.5em 2em;
    margin: 2em 3em;
}



/* MOBILE Portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
    .slider-text-box {
        width: 100%;
    }
}

/* TABLET Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {


}
