.book-cover img {
    object-fit: contain !important;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 380px) {
    /* Styles */
    .books-container {
        flex-direction: column;
        gap: 0 !important;
    }
    .book-container {
        max-width: 100% !important;
        display: flex;
    }
    .book-cover-container {
        height: auto !important;
    }
    .book-cover-container {

    }
    .book-cover {

    }
    .book-info {
        width: 100% !important;
        margin: 0 0.6em !important;
    }
}
