@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@100&family=Red+Hat+Mono:wght@300&family=Roboto+Condensed:wght@300&display=swap');

@font-face {
    font-family: globalfont;
    src: url(Ubuntu-Light.ttf);
}
@font-face {
    font-family: globalfontfett;
    src: url(Ubuntu-Medium.ttf);
}
@font-face {
    font-family: globalfontsuperfett;
    src: url(Ubuntu-Bold.ttf);
}

/* minimal reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* end rest */

body,
html {
    background: #fbfbfd;
    color: #212529;
    font-family: globalfont, monospace;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 1.7em;
    color: #589aad;
    font-family: globalfontfett;
    text-transform: uppercase;
}
h2 {
    font-family: globalfontfett;
    color: #589aad;
    margin-bottom: 0.8em;
    font-size: 1.3em;
}
h3 {
    font-size: 1em;
    font-family: globalfontfett;
    text-transform: uppercase;
}
h4 {
    font-size: 0.9em;
}
p {
    font-size: 1em;
}
hr {
    height: 3px !important;
    opacity: 1;
    color: #589aad;
    width: 100%;
}

.fett {
    font-family: globalfontsuperfett;
}

.ubuntu-bold {
    font-family: globalfontsuperfett;
}

.main-layout {
    width: 75%;
    margin: 1em auto 2em;
    padding: 0;
}
.card-style {
    min-height: 50vh;
    padding: 7em 0;
    display: grid;
    place-items: center;
}
.container {
    max-width: 100% !important;
}
.newsletter-grid {
    display: grid;
    place-items: center;
    text-align: center;
    /* padding: 0 2em; */
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}

.index-image-container {
    background-image: url(../assets/images/index_laptop.png);
    height: 89vh;
    background-size: cover;
}

.slick-slide:not(.slick-active) {
    pointer-events: none;
}
.slick-arrow {
    display: none !important;
}

.dropdown-item:focus,
.dropdown-item:active {
    background: #9ed9ef;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo,
.signet {
    max-width: 90%;
}
.logo-signet {
    display: flex;
    flex-wrap: nowrap;
}

#basic-navbar-nav {
    width: 30%;
    justify-content: space-between;
}
.navbar-nav {
    justify-content: space-between;
    width: 100%;
}
.navbar-collapse {
    flex-grow: 0 !important;
}
.navbar-light .navbar-brand {
    color: #589aad;
    font-size: 2em;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover .navbar-brand:active {
    color: #9ed9ef;
}
.navbar-light .navbar-nav .nav-link:active {
    color: #9ed9ef;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #9ed9ef;
}
.navbar-light .navbar-nav .nav-link {
    color: #212529;
}
.navbar-light .navbar-toggler {
    border: none !important;
}

.mappenwerk-title,
.mappenwerk-image {
    max-width: 95%;
}

/* single image detail */

.artwork-detail-container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    margin-bottom: 10em;
}
.artwork-detail-image-container {
    flex-grow: 3;
    display: flex;
    max-width: 75%;
}
/* .artwort-test {
    border: 1px solid green;
    flex-grow: 1;
} */

/* .artwort-test img {
    max-width: 2000px;
} */
/* .artwork-detail-image-container img {
    max-width: 100%;
}
 */
.artwork-detail-text {
    flex-grow: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-text {
    width: 50%;
    margin: 6.5em 1.5em;
    float: right;
    display: flex;
    flex-direction: column;
}
.banner-text h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 1.4;
    color: white;
    border: 3px solid #000;
}
.banner-text h2,
.banner-text img {
    margin-left: auto;
}
.banner-text img {
    padding: 0 4em;
}
.slider-text-box {
    text-decoration: none;
    min-height: 10em;
    padding: 0.5em 2em;
    margin: 2em 3em;
}
.home-banner-text {
    color: black;
    font-size: 0.9rem;
    min-width: 60ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
}
.banner-text-box {
    text-decoration: none;
    width: 30%;
    min-height: 10em;
    padding: 0.5em 2em;
    margin: 1em 8em;
}

/* BUTTONS
* .btn: modified default style from Bootstrap 
* .btn-name_section: personalized style buttons
*/

.btn {
    background: #589aad;
    color: #fbfbfd;
    border: none;
}
.btn:hover {
    background: #6fc2da;
    color: #fbfbfd;
    font-weight: bolder;
}
.btn:focus,
.btn:active {
    box-shadow: none;
}
.btn-check:active + .btn-outline-secondary:focus,
.btn-check:checked + .btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus {
    box-shadow: none;
}
.btn-show-case-box {
    border-radius: 0;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 0.4em 1.4em;
}
.btn-show-case-box:hover {
    transform: scale(1.02);
}

.btn-stationen {
    width: 100%;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em 1.4em;
}
.btn-stationen:hover {
    transform: scale(1.02);
}

.btn-newsletter:hover {
    transform: translate(2px, 0%);
    background: #589aadee;
}
/* end Buttons */

.icon-newsletter {
    background: #589aad;
    color: #fbfbfd;
}

/* gallery responsive */
.gallery-lenbenslauf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1.5em;
    width: 100%;
    height: auto;
    padding: 2em 0;
}
.gallery-lenbenslauf img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.visible-on-tablet {
    display: none;
}

@media only screen and (max-width: 1500px) {
    .showcase-section {
        width: 45% !important;
    }
    .showcase-image {
        width: 100% !important;
    }
}

/* Portrait Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
    .copyright {
        padding: 0 !important;
    }
    .main-layout {
        width: 100%;
    }
    .homepage-banner {
        margin: 0;
    }
    .slider-text-box {
        width: 100%;
        margin: 1em;
    }
    .banner-text {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .slick-dots {
        display: none !important;
    }
    .werke-container {
        flex-direction: column;
    }
    .werk {
        width: 100% !important;
        margin: 1em auto;
    }
    .main-layout {
        width: 100% !important;
        margin: 0 auto;
    }
    .mappenwerke {
        flex-direction: column;
    }
    .mappenwerk {
        margin-bottom: 2em;
    }
    .mappenwerk-title {
        height: auto !important;
    }
    .mappenwerk-image {
        width: 100%;
    }
    .navbar-light .navbar-brand {
        width: 70%;
    }
    .index-image-container {
        background-image: url(../assets/images/index_mobile.png);
        height: 120vw;
        background-size: cover;
        width: 100%;
    }

    .artwork-detail-container {
        flex-direction: column;
    }
    .artwork-detail-text {
        width: 100%;
        padding: 0;
    }
    .artwork-detail-image-container {
        width: 100%;
    }
    .artwork-detail-image-container img {
        margin-bottom: 1em;
    }
    .artwork-overview img {
        max-width: 100%;
    }
    .navbar-light .navbar-brand {
        width: 70%;
    }
    .showcase-section {
        width: 100% !important;
        margin: 1em 0 !important;
        gap: none;
    }
    .showcase-section h4 {
        margin-top: 1em;
    }
    .logo {
        max-width: 60%;
    }
    .signet {
        max-width: 30%;
    }
    .banner-text-box {
        margin: 1em !important;
        width: 80% !important;
    }
    .banner-text-box p {
        font-size: 4vw;
    }
}

/* Portrait Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .visible-on-tablet {
        display: unset;
    }
    .werke-container {
        flex-direction: column;
    }
    .werk {
        width: 100% !important;
        margin: 1em auto;
    }
    .index-image-container {
        background-position: center;
    }
    .artwork-detail-container {
        flex-direction: column;
    }
    .artwork-overview {
        margin: 0 auto;
    }
    .artwork-detail-text {
        width: 100%;
        padding: 0;
    }
    .artwork-detail-image-container {
        width: 100%;
    }
    .artwork-detail-image-container img {
        margin-bottom: 1em;
    }
    .artwork-overview img {
        max-width: 100%;
    }
    .werk {
        margin-bottom: 4em !important;
    }
}

@media (max-width: 1024px) {
    #header,
    #banner-container,
    .footer {
        width: 100% !important;
    }
    .navbar-nav {
        margin-left: 1em;
    }
    .main-layout {
        width: 85%;
    }
    .showcase-image {
        width: 100% !important;
    }
    #banner-title {
        font-size: 1.5rem !important;
    }
    .banner-text-box {
        min-width: 60% !important;
        margin: 3em 2em !important;
    }
    #banner-text {
        font-size: 1rem !important;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    .artwork-overview img {
        min-width: 100px;
        max-width: 270px;
        margin: 0 auto;
    }
}
