@font-face {
    font-family: globalfont;
    src: url(DINPro-Cond.otf);
}

@font-face {
    font-family: globalfontfett;
    src: url(DINPro-CondMedium.otf);
}

body, html {
    color: #212529;
    font-family: globalfont, monospace;
}

h1 {

}

h2 {
    font-family: globalfontfett;
    color: #589AAD;
    margin-bottom: 0.8em;
    font-size: 1.23em;
}

h3 {
    font-size: 1rem;
    font-family: globalfontfett;
    text-transform: uppercase;
}

h4 {
    font-size: 0.88rem;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}

hr {
    height: 3px !important;
    opacity: 1;
    color: #589AAD;
    width: 100%;
}

#basic-navbar-nav {
    width: 30%;
    justify-content: space-between;
}

.navbar-nav {
    justify-content: space-between;
    width: 100%;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-light .navbar-brand {
    color: #589AAD;
    font-size: 2em;
    font-family: globalfontfett;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover  .navbar-brand:active {
    color: #9ED9EF;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #9ED9EF;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #9ED9EF;
}
.navbar-light .navbar-nav .nav-link {
    color: #212529;
    font-family: globalfontfett;
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.index-image-container {
    background-image: url(../images/index_laptop.png);
    height: 89vh;
    background-size: cover;
}

.artwork-detail-image-container img {
    margin: 0 auto;
}


.artwork-detail-text {
    margin: 0 auto;
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .artwork-detail-image-container img {

    }
    .artwork-detail-text {

    }
    .artwork-overview img {
        min-width: 100px;
        max-width: 270px;

        margin: 0 auto;
        heigth: 100%;
    }
    .werk-vertical img {
        min-height: 350px;
    }

}


/* Portrait Mobile */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .werke-container {
        flex-direction: column;
    }
    .werk {
        width: 100% !important;
        margin: 1em auto;
    }
    .navbar-light .navbar-brand {
        width: 70%;
    }
    .index-image-container {
        background-image: url(../images/index_mobile.png);
        height: 120vw;
        background-size: cover;
        width: 100%;
    }

    .artwork-detail-container {
        flex-direction: column;

    }
    .artwork-detail-image-container img {
        max-width: 340px;
        margin-bottom: 1em;
    }
    .artwork-overview img {
        max-width: 340px;
    }

}


/* Portrait Tablet */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .werke-container {
        flex-direction: column;
    }
    .werk {
        width: 100% !important;
        margin: 1em auto;
    }
    .index-image-container {
        background-position: center;
    }
    .artwork-detail-container {
        flex-direction: column;
    }

    .artwork-detail-image-container img {

    }
    .artwork-detail-text {


    }
    .artwork-overview {

        margin: 0 auto;
    }

    .artwork-overview img {
        min-width: 730px;
        max-width: 750px;
        margin: 0 auto;
        heigth: 100%;
    }

    .werk{
        margin-bottom: 4em !important;
    }

}
